@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');

$font-n3: 2rem;
$font-n4: 1.4rem;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #888888;
$font-height-130: 130%;
$all-radius: 5px;

.filters-wrapper {
  position: fixed;
  top: -130%;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;

  &.active {
    top: 0%;
  }
}

.filters {
  position: relative;
  width: 25vw;
  max-height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey;
  font-size: $font-n4;
  line-height: normal;
  border-radius: $all-radius;

  .filters-btn {
    display: none;
  }

  .filters-list {
    height: 78vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    overflow-y: auto;

    .filters-item {
      border-radius: $all-radius;
      padding: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.5rem;
      border: 2px solid $color-black;

      &.filters-item__mobile {
        display: none;

        .sort-input,
        .btn-switch-view {
          display: none;
        }
      }

      .category-container,
      .brand-container {
        padding: 1rem;
        width: 100%;
        height: 15vh;
        min-height: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
        overflow-y: auto;

        &[data-active="true"] {
          .container-item {

            transform: translate(-2px, 2px);
            -webkit-box-shadow: 0px 0px 0px 0px $color-black;
            -moz-box-shadow: 0px 0px 0px 0px $color-black;
            box-shadow: 0px 0px 0px 0px $color-black;
            transition: all 0.3s ease-in-out;

            &.inactive {
              opacity: 0.5;
              transform: translate(-0px, 0px);
              -webkit-box-shadow: -2px 2px 0px 0px $color-black;
              -moz-box-shadow: -2px 2px 0px 0px $color-black;
              box-shadow: -2px 2px 0px 0px $color-black;
              transition: all 0.3s ease-in-out;
            }
          }
        }

        .container-item {
          width: 100%;
          padding: 0 0.5rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;

          border: 2px solid $color-black;
          border-radius: $all-radius;
          background: $color-white;
          cursor: pointer;
          transform: translate(-0px, 0px);
          -webkit-box-shadow: -2px 2px 0px 0px $color-black;
          -moz-box-shadow: -2px 2px 0px 0px $color-black;
          box-shadow: -2px 2px 0px 0px $color-black;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translate(-2px, 2px);
            -webkit-box-shadow: 0px 0px 0px 0px $color-black;
            -moz-box-shadow: 0px 0px 0px 0px $color-black;
            box-shadow: 0px 0px 0px 0px $color-black;
            transition: all 0.3s ease-in-out;
          }

          &.inactive {
            opacity: 0.5;
          }

          .item-label {
            min-height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            font-size: 1.4rem;
            cursor: pointer;
            position: relative;
            -webkit-tap-highlight-color: transparent;

            svg {
              display: block;
              position: absolute;
            }

            input {
              --border-default: #bbbbc1;
              --border-hover: #9898a3;
              --active: #226ee1;
              --active-tick: #ffffff;
              display: block;
              outline: none;
              border: none;
              padding: 0;
              margin: 0;
              -webkit-appearance: none;
              width: 1.5rem;
              min-width: 1.5rem;
              max-width: 1.5rem;
              height: 1.5rem;
              min-height: 1.5rem;
              max-height: 1.5rem;
              border-radius: 36% / 36%;
              box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
              background: var(--background, transparent);
              transition: background .25s linear,
                box-shadow .25s linear;

              &+svg {
                width: 18px;
                height: 21px;
                left: 0;
                top: 0;
                color: var(--active);


                .tick {
                  stroke-dasharray: 20;
                  stroke-dashoffset: var(--stroke-dashoffset, 20);
                  transition: stroke-dashoffset .2s;

                  &.mask {
                    stroke: var(--active-tick);
                  }
                }

                &+svg {
                  width: 18px;
                  height: 21px;
                  fill: none;
                  stroke: #226ee1;
                  stroke-width: 1.25;
                  stroke-linecap: round;
                  top: -10px;
                  left: 10px;
                  stroke-dasharray: 4.5px;
                  stroke-dashoffset: 13.5px;
                  pointer-events: none;
                  animation: var(--animation, none) .2s ease .175s;
                }
              }

              &:checked {
                --background: var(--active);
                --border: var(--active);

                &+svg {
                  --stroke-dashoffset: 0;

                  &+svg {
                    --animation: check;
                  }
                }
              }
            }

            &:hover {
              input {
                &:not(:checked) {
                  --border: var(--border-hover);
                }
              }
            }


            @keyframes check {
              100% {
                stroke-dashoffset: 4.5px;
              }
            }
          }

        }
      }

      .stock-container,
      .price-container {
        width: 100%;
        height: 6vh;
        min-height: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vh;
      }
    }
  }
}

.btn-container {
  width: 100%;
  min-height: 3.5rem;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .btn-reset,
  .btn-copy {
    border-radius: $all-radius;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    font-size: $font-n3;
    border: 2px solid black;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    padding: 0.3rem;
    background: $color-white;
    -webkit-box-shadow: -2px 2px 0px 0px $color-black;
    -moz-box-shadow: -2px 2px 0px 0px $color-black;
    box-shadow: -2px 2px 0px 0px $color-black;
    transition: all 0.3s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      transform: translate(-2px, 2px);
      -webkit-box-shadow: 0px 0px 0px 0px $color-black;
      -moz-box-shadow: 0px 0px 0px 0px $color-black;
      box-shadow: 0px 0px 0px 0px $color-black;
      transition: all 0.3s ease-in-out;
    }

    &:active {
      background-color: $color-black;
      color: $color-white;
      border: 2px solid $color-white;
      transition: all 0.1s ease-in-out;
    }
  }
}

.not-found {
  margin: 0 auto;
  padding: 0 0 10rem 0;
  width: 110rem;
  min-height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-style: bold;
  font-weight: 700;
  line-height: $font-height-130;
  text-align: center;
}

@media (max-width: 768px) {
  .filters {
    padding: 10rem 1rem 3rem 1rem;
    height: 78vh;
    position: absolute;
    left: 0;
    top: -100%;
    overflow: hidden;
    width: 90vw;
    max-height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: $font-n4;
    line-height: normal;
    border-radius: $all-radius;
    z-index: 102;
    transition: all 0.5s ease-in-out;

    &.active {
      top: 0%;
      padding: 1rem 1rem 3rem 1rem;
      height: 78vh;
      background: rgb(136 136 136 / 70%);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(174, 174, 174, 0.15);
      transition: all 0.5s ease-in-out;
    }

    .filters-btn {
      width: 90%;
      height: 5.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      font-size: 2.2rem;
      line-height: 130%;
      border: 2px solid $color-black;
      border-radius: $all-radius;
      padding: 0.3rem;
      background: $color-white;
      -webkit-box-shadow: -3px 3px 0px 0px $color-black;
      -moz-box-shadow: -3px 3px 0px 0px $color-black;
      box-shadow: -3px 3px 0px 0px $color-black;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:active {
        transform: translate(-2px, 2px);
        -webkit-box-shadow: 0px 0px 0px 0px $color-black;
        -moz-box-shadow: 0px 0px 0px 0px $color-black;
        box-shadow: 0px 0px 0px 0px $color-black;
        transition: all 0.3s ease-in-out;
      }
    }

    .filters-list {
      height: 78vh;
      width: 100%;
      padding: 1rem 1rem 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      overflow-y: auto;
      overflow-x: hidden;

      .filters-item {
        border-radius: $all-radius;
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        border: 2px solid $color-black;

        h3 {
          font-size: 2.5rem;
        }

        &.filters-item__mobile {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          gap: 1rem;

          .btn-switch-view {
            border-radius: $all-radius;

            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            align-content: center;
            align-items: center;
            justify-items: center;
            gap: 0rem;
            width: 4rem;
            height: 4rem;
            border: 2px solid $color-black;
            cursor: pointer;
            background: $color-white;
            -webkit-box-shadow: -2px 2px 0px 0px $color-black;
            -moz-box-shadow: -2px 2px 0px 0px $color-black;
            box-shadow: -2px 2px 0px 0px $color-black;
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: translate(-2px, 2px);
              -webkit-box-shadow: 0px 0px 0px 0px $color-black;
              -moz-box-shadow: 0px 0px 0px 0px $color-black;
              box-shadow: 0px 0px 0px 0px $color-black;
              transition: all 0.3s ease-in-out;
            }

            span {
              width: 1rem;
              height: 1rem;
              border-radius: 2px;
              background-color: $color-black;
            }

            &.active {
              padding: 0.3rem 0;
              display: grid;
              grid-template-rows: repeat(4, 1fr);
              grid-template-columns: repeat(1, 1fr);
              align-content: center;
              align-items: center;
              justify-items: center;
              width: 4rem;
              height: 4rem;
              border: 2px solid $color-black;
              cursor: pointer;

              span {
                width: 2.3rem;
                height: 0.2rem;
                background-color: $color-black;
              }
            }
          }

          .sort-input {
            -webkit-appearance: none;
            display: flex;
            border-radius: $all-radius;
            text-align: center;
            text-align-last: center;
            min-width: 18rem;
            height: 100%;
            border: 0px solid $color-black;
            outline: $color-black;
            cursor: pointer;
            padding: 0.3rem;
            height: 4rem;
            font-size: 1.8rem;
            border: 2px solid $color-black;
            background-color: $color-white;
            -webkit-box-shadow: -2px 2px 0px 0px $color-black;
            -moz-box-shadow: -2px 2px 0px 0px $color-black;
            box-shadow: -2px 2px 0px 0px $color-black;
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: translate(-2px, 2px);
              -webkit-box-shadow: 0px 0px 0px 0px $color-black;
              -moz-box-shadow: 0px 0px 0px 0px $color-black;
              box-shadow: 0px 0px 0px 0px $color-black;
              transition: all 0.3s ease-in-out;
            }
          }
        }

        .category-container,
        .brand-container {
          padding-right: 1rem;
          width: 100%;
          height: 15vh;
          min-height: 6rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0.5rem;
          overflow-y: auto;

          .container-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            &.inactive {
              opacity: 0.5;
            }

            .item-label {
              min-height: 2rem;
              font-size: 2rem;
              cursor: pointer;
            }

            .quantity {
              font-size: 2rem;
            }

            .checkbox {
              margin-right: 0.5rem;
            }
          }
        }

        .stock-container,
        .price-container {
          width: 100%;
          height: 6vh;
          min-height: 6rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1vh;
        }
      }
    }

  }
}