$font-n2: 44px;
$font-n3: 22px;
$font-n4: 18px;
$color-light: #FFFFFF;
$color-dark: #000000;
$font-height-130: 130%;

//BASKET
.page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2vw;
  font-size: 14px;
  min-height: calc(100vh - 10vh - 100px);
}

.page2 {
  display: flex;
}

.products__header {
  display: flex;
  justify-content: space-evenly;
}

.products__count-items{
  height: 30px;
}
.products {
  margin: 10px;
}

.products__limit{
  height: 30px;
}

.products__card-container {
  height: 100%;
}
.empty{
  font-size: 24px;
  margin: 112px 0px 0px 60px;
  width: 230px;
}

.products__item-card {
  display: grid;
  grid-template-columns: 0.5fr 7fr 3fr 0.2fr;
  align-items: center;
  justify-items: center;
  height: 20vh;
  border: 0.1em solid;
  border-radius: 30px;
  margin: 5px;
}

.item-card__info {
  display: flex;
  width: 100%;
  align-items: center;
}

.item-card__info img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.item-card__description,
.item-card__other,
.item-card__title {
  line-height: 100%;
}

.number-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-control>div {
  line-height: 100%;
}

.incDec-control {
  margin: 5px auto 5px auto;
}

.btn-del {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #000000;
    opacity: 0.6;
    background: #b6b6b6;
    transform: scale(1);
    transition: all 500ms ease-in-out;
    cursor: pointer;
}
.btn-del:hover{
  opacity: 1.1;
  transform: scale(0.99);
  transition: all 500ms ease-in-out;

}

//SUMMARY
.summary {
  margin-top: 10px;
  margin-left: 10px;
  height: 320px;
  line-height: 250%;
}

.summary__promo {
  line-height: 110%;
}
.summary__input {
margin-bottom: 10px;
}
.correct {
  background: rgb(99, 185, 99);
}
.incorrect {
  background:rgb(240, 131, 131);
}
.summary__buy-btn{
  margin: 10px auto;
 display: flex;
justify-content: center;
 align-items: center;
 width: 227px;
height: 42px;
 font-size: $font-n3;
 border-radius: 25px;
 background-color: purple;
color: #000000;
 cursor: pointer;

}

.summary__buy-btn:active {
  transform: translate(3px, 3px);}

@media (max-width: 800px) {
  .page {
    display: grid;
    font-size: 14px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    min-height: calc(100vh - 10vh - 100px);
    justify-items: center;
  }

  .products__card-container {
    height: 63vh;
    width: 500px;
  }

  .number-control{
    margin-right: 10px;
  }
  .empty {
    margin: -84px 0px 0px 143px;
  }
}

//BUY FORM
.shadow-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 130vh;
  background-color: rgba(20, 20, 20, 0.7);
  z-index: 100;
}

.buy-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  margin-top: -230px;
  left: 50%;
  margin-left: -375px;
  z-index: 102;
  display: table-cell;
  vertical-align: middle;
}

.buy-form form{
  position: absolute;
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  font-size: 18px;
  line-height: 100%;
}

.buy-form form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.buy-form form .row .col{
  flex:1 1 250px;
}

.buy-form form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.buy-form form .row .col .inputBox{
  margin:15px 0;
}

.buy-form form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.input {
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

input:invalid {border-color: red;}
input:valid {border-color: green;}
input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}

.buy-form form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.buy-form form .row .col .flex{
  display: flex;
  gap:10px;
  justify-content: space-between;
}

.buy-form form .row .col .flex .inputBox{
  margin-top: 5px;
}

.buy-form form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}
.buy-form form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.buy-form form .submit-btn:hover{
  background: #2ecc71;
}
.imageBox{
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.inputBox__imgVisa{
  background: url('./assets/icons/basket/visa.svg') no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}

.inputBox__imgMaster{
  background: url('./assets/icons/basket/masterCard.png') no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.inputBox__imgUnion{
  background: url('./assets/icons/basket/unionPay.png') no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}

.activeBorder {
  border: 3px solid green;
}

.order-accepted{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  margin: 0 auto;
  width: 500px;
  height: 300px;
}

.title-accepted{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  margin-left: 20px;
}

@media (max-width: 1100px) {
  .buy-form form{
    width: 500px;
    font-size: 14px;
    padding: 10px;
  }

  .buy-form form .row {
    display: flex;
    flex-direction: column;
  }
  .buy-form form .row .col .inputBox {
    margin: 5px 0;
  }

  .buy-form form .row .col .inputBox span {
    margin-bottom: 5px;
  }
  .input {
  padding: 5px 15px;
  }
  .buy-form form .row .col .title{
  font-size: 18px;
  }
  .buy-form form .row .col {
  flex: 1 1 220px;
  }
.buy-form {
  margin-top: -272px;
  margin-left: -250px;
  }

}

@media (max-width: 800px) {
  .buy-form {
  margin-top: -380px;
  }
}

@media (max-width: 600px) {
  .buy-form form{
    width: 300px;
  }
  .buy-form {
    margin-top: -380px;
    margin-left: -150px;
  }

}

//PRODUCT DETAILS
.page__product-description{
  font-size: 18px;
  min-height: calc(100vh - 10vh - 100px);
}
.details-container{
  width: 80%;
  margin: 0 auto;
}

.bread-crumbs {
  display: flex;
  justify-content: space-evenly;
  margin: 20px  auto;
  white-space: nowrap;
}

.bread-crumbs > *:not(:last-child)::after {
content:'>>';
margin-left: 20px;
}
.details__card{
  border: 1em solid;
  border-radius: 30px;
}

.card__info{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr 2fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1vw;
}

.cards__image{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.small__images{
  display: flex;
  flex-direction: column;

}

.small__images > img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.focus__img {
  width: 200px;
  height: 200px;
  margin-right: 40px;
}

.card__description {
  width: 100%;
  height: 100%;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card__buy {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.card-price {
  font-size: 24px;
  margin: 0 auto;
}

.btn__addBasket {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-n3;
  line-height: $font-height-130;
  border-radius: 10px;
  border: 2px solid $color-dark;
  opacity: 0.6;
  background: #b6b6b6;
  transform: scale(1);
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.btn__addBasket:hover {
  opacity: 1.1;
  transform: scale(0.99);
  transition: all 500ms ease-in-out;
}


.details__buy-btn {
  margin-top: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 130%;
    border-radius: 10px;
    border: 2px solid #000000;
    opacity: 0.6;
    background: #b6b6b6;
    transform: scale(1);
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.details__buy-btn:hover {
  opacity: 1.1;
  transform: scale(0.99);
  transition: all 500ms ease-in-out;
}

body.overflow-hidden {
  overflow: hidden;
}

@media (max-width: 1100px) {
  .card__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    align-items: center;
    justify-items: center;
    grid-gap: 1vw;

  }
  .card__buy{
    order: -1;
  }
}

@media (max-width: 500px) {
  .details-container {
    width: 95%;
    margin: 0 auto;
}
.details__card {
  border: 0.5em solid;
}
.cards__image {
  flex-direction: column;
}

.small__images {
  display: flex;
  flex-direction: row;
}
.focus__img {
  margin-right: 0px;
}
.small__images > img {
  width: 60px;
  height: 60px;
  margin: 5px;
}
.bread-crumbs{
  flex-wrap: wrap;
}

.bread-crumbs > *:not(:last-child)::after {
  content: ">>";
  margin-left: 10px;
}
}
