@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
@import '~normalize.css';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

$font-n2: 44px;
$font-n3: 22px;
$font-n4: 18px;
$color-light: #FFFFFF;
$color-dark: #000000;
$font-height-130: 130%;

.body {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-size: $font-n2;
  line-height: $font-height-130;
  color: $color-dark;
  background-color: aqua;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: $color-dark;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0px auto;
  height: 100%;
}

.header {
  padding: 15px;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: green;
}

.nav {
  height: 100%;
  width: 300px;
  background-color: red;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 50px 0px;
}

.cart {
  position: relative;
  width: 100px;
  height: 100px;

  background: url('./assets/icons/cart.svg') no-repeat;

  p {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    line-height: normal;
    text-align: center;
  }
}

.filters {
  position: relative;
  // height: 100vh;
  width: 30vw;
  background-color: blue;
  font-size: $font-n4;
  line-height: normal;

  .filters-list {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .filters-item {
      padding: 10px;
      width: 100%;
      // height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 5px;
      border: 2px solid $color-dark;

      .item-label {
        height: 30px;
      }

      .item-label,
      .checkbox {
        cursor: pointer;
      }

      .btn-reset {
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 80px;
        font-size: $font-n3;
        border-radius: 25px;
        background-color: purple;
        color: #000000;
        cursor: pointer;

        &:active {
          transform: translate(3px, 3px);
        }
      }
    }
  }
}

.catalog {
  padding: 10px;
  // height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #c0c0c0;
  border-radius: 25px;

  .catalog-sort {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: $font-n3;

    .btn-switch-view {
      padding: 5px;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;
      width: 50px;
      height: 50px;
      border: 2px solid $color-dark;
      border-radius: 10px;
      cursor: pointer;

      span {
        width: 15px;
        height: 15px;
        background-color: #000000;
        border-radius: 5px;
      }

      &:active {
        transform: translate(1px, 1px);
        ;
      }

      &.active {
        padding: 5px;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 4px;
        width: 50px;
        height: 50px;
        border: 2px solid $color-dark;
        border-radius: 10px;

        span {
          width: 36px;
          height: 5px;
          background-color: #000000;
          border-radius: 5px;
        }
      }
    }

    hr {
      width: 500px;
      border: 2px solid $color-dark;
    }

    .btn-sort {
      width: 300px;
      height: 50px;

      // border: 1px solid $color-dark;
      .sort-input {
        width: 130px;
        height: 40px;
        cursor: pointer;
      }
    }
  }

  .catalog-products {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;

    // border: 1px solid $color-dark;
    .product-item {
      position: relative;
      padding: 15px;
      width: 100%;
      // height: 250px;
      display: grid;
      grid-template-rows: repeat(auto, 1fr);
      grid-template-columns: repeat(1, 1fr);
      gap: 5px;
      // border: 1px solid $color-dark;
      border-radius: 20px;
      background-color: #FFFFFF;
      font-size: $font-n4;
      line-height: $font-height-130;
      transition: all 500ms ease-in-out;
      cursor: pointer;

      span {
        display: none;
      }

      &:hover {
        background-color: #ffffff93;
      }

      &.active span {
        position: absolute;
        display: block;
        top: 0px;
        right: 0px;
        height: 100px;
        width: 100px;
        background: url('./assets/icons/check.png');
      }

      .product-img {
        height: 250px;
      }

      // ------------------------------------------------------------------------------------------------
      .iphone-13-black {
        background: url('./assets/images/iphone-13-black.jpeg') no-repeat;
      }

      .iphone-13-green {
        background: url('./assets/images/iphone-13-green.jpeg') no-repeat;
      }

      .iphone-13-red {
        background: url('./assets/images/iphone-13-red.jpeg') no-repeat;
      }

      .iphone-xr-yellow {
        background: url('./assets/images/iphone-xr-yellow.jpeg') no-repeat;
      }

      .iphone-xr-white {
        background: url('./assets/images/iphone-xr-white.jpeg') no-repeat;
      }

      .iphone-xr-red {
        background: url('./assets/images/iphone-xr-red.jpeg') no-repeat;
      }

      .samsung-s22-black {
        background: url('./assets/images/samsung-s22-black.jpeg') no-repeat;
      }

      .samsung-s22-green {
        background: url('./assets/images/samsung-s22-green.jpeg') no-repeat;
      }

      .samsung-s22-pink {
        background: url('./assets/images/samsung-s22-pink.jpeg') no-repeat;
      }

      .samsung-a32-black {
        background: url('./assets/images/samsung-a32-black.jpeg') no-repeat;
      }

      .samsung-a32-white {
        background: url('./assets/images/samsung-a32-white.jpeg') no-repeat;
      }

      .samsung-a32-purple {
        background: url('./assets/images/samsung-a32-purple.jpeg') no-repeat;
      }

      .google-6-black {
        background: url('./assets/images/google-6-black.jpeg') no-repeat;
      }

      .google-6-coral {
        background: url('./assets/images/google-6-coral.jpeg') no-repeat;
      }

      .google-6-mint {
        background: url('./assets/images/google-6-mint.jpeg') no-repeat;
      }

      .xiaomi-note-10s-black {
        background: url('./assets/images/xiaomi-note-10s-black.jpeg') no-repeat;
      }

      .xiaomi-note-10s-white {
        background: url('./assets/images/xiaomi-note-10s-white.jpeg') no-repeat;
      }

      .xiaomi-note-10s-blue {
        background: url('./assets/images/xiaomi-note-10s-blue.jpeg') no-repeat;
      }

      .xiaomi-10c-black {
        background: url('./assets/images/xiaomi-10c-black.jpeg') no-repeat;
      }

      .xiaomi-10c-blue {
        background: url('./assets/images/xiaomi-10c-blue.jpeg') no-repeat;
      }

      .xiaomi-10c-mint {
        background: url('./assets/images/xiaomi-10c-mint.jpeg') no-repeat;
      }

      // ------------------------------------------------------------------------------------------------
    }

    &.active {
      display: grid;
      grid-template-rows: repeat(auto, 1fr);
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      width: 100%;
      // border: 1px solid $color-dark;
      transition: all 500ms ease-in-out;

      .product-item {
        width: 100%;
        // height: 250px;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 10px;
        border: 1px solid $color-dark;
        font-size: 30px;
        line-height: $font-height-130;

        .product-img {
          margin: 10px auto;
          height: 250px;
          width: 180px;
          grid-row-start: 1;
          grid-row-end: 4;
          background-size: contain;
        }

        h3 {
          order: 8;
          text-align: center;
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }
  }
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;

  .slider {
    width: 60%;
    height: 15px;
    cursor: pointer;
  }

  p {
    width: 50px;
    height: 30px;
    font-weight: bold;
    text-align: center;

    // background-color: #000000;
  }
}





















.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;

  border-radius: 0px 0px 20px 20px;
  background: rgb(29, 179, 179);
  backdrop-filter: blur(30px);
}

.my-logo {
  height: 100px;
  min-width: 250px;
  border-radius: 0px 0px 0px 20px;
  background: url('./assets/images/logo.gif') no-repeat;
  background-size: contain;

}

.rs-logo {
  height: 100px;
  min-width: 250px;
  border-radius: 0px 0px 20px 0px;
  background: url('./assets/icons/rs-school.svg') no-repeat;
  background-size: contain;
}

.footer-link {
  display: flex;
  align-items: flex-end;
  height: 100px;
  padding: 0px 0px 10px 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
}


.message {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000b4;
}



.hide {
  display: none;
}

.page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2vw;
  font-size: 14px;
  min-height: calc(100vh - 10vh - 100px);
}

.products {
  height: 70vh;
}

.products__header {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  background-color: aquamarine;
}

.products__card-container {
  height: 60vh;
}

.products__item-card {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  align-items: center;
  justify-items: center;
  height: 15vh;
}

.item-card__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.item-card__info img {
  width: 100px;
  height: 100px;
  margin-right: 10px;

}

.item-card__description,
.item-card__other,
.item-card__title {
  line-height: 100%;
}

.number-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-control>div {
  line-height: 100%;
}

.incDec-control {
  margin: 5px auto 5px auto;
}

.summary {
  margin-top: 30px;
  height: 10vh;
}
